.aboutMe {
  width: 100%;
  padding: 30px 12%;
  display: flex;
}

.darkAboutMe {
  background: #1e1e1e;
  color: white;
}

.aboutMeLeft {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMeRight {
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

.aboutMeRight .title {
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}

.aboutMeRight .description {
  font-size: 22px;
  margin: 25px 0px;
}

@media (max-width: 480px) {
  /* For smartphones in portrait orientation */
  .aboutMe {
    padding: 30px 6%;
    flex-direction: column;
  }

  .aboutMeLeft {
    display: none;
  }

  .aboutMeRight {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .aboutMeRight .title {
    font-size: 35px;
    line-height: 35px;
    text-align: center;
  }

  .aboutMeRight .description {
    width: 90%;
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* For small smartphones in landscape orientation and small tablets in portrait orientation */
  .aboutMe {
    padding: 30px 12%;
    flex-direction: column;
  }

  .aboutMeLeft {
    display: none;
  }

  .aboutMeRight {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .aboutMeRight .title {
    font-size: 35px;
    line-height: 35px;
    text-align: center;
  }

  .aboutMeRight .description {
    width: 90%;
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  /* For large smartphones and small tablets in landscape orientation and large tablets in portrait orientation */
  .aboutMe {
    padding: 30px 12%;
    flex-direction: column;
  }

  .aboutMeLeft {
    display: none;
  }

  .aboutMeRight {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .aboutMeRight .title {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
  }

  .aboutMeRight .description {
    width: 80%;
    font-size: 19px;
    text-align: center;
  }
}
