.contact {
  width: 100%;
  padding: 30px 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.darkContact {
  background: #1e1e1e;
  color: white;
}

.emailInputContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between input and button */
  margin: 100px;
}

.emailInput {
  flex: 1; /* Make the input field take most of the space */
  width: 500px;
  padding: 12px;
  font-size: 22px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  background-color: #f8f8f8;
  color: #666;
  transition: border-color 0.3s ease;
}

.darkContact .emailInputContainer .emailInput {
  background: white;
}

.emailInput:focus {
  border-color: orange;
}

@media (max-width: 480px) {
  /* For smartphones in portrait orientation */
  .contact {
    padding: 30px 6%;
  }
  .emailInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between input and button */
    margin: 50px;
    width: 100%;
  }
  .emailInput {
    width: 100%;
    font-size: 16px;
    padding: 8px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* For small smartphones in landscape orientation and small tablets in portrait orientation */
  .contact {
    padding: 30px 12%;
  }
  .emailInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between input and button */
    margin: 50px;
    width: 100%;
  }
  .emailInput {
    width: 90%;
    font-size: 16px;
    padding: 8px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  /* For large smartphones and small tablets in landscape orientation and large tablets in portrait orientation */
  .contact {
    padding: 30px 12%;
  }
  .emailInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between input and button */
    margin: 50px;
    width: 100%;
  }
  .emailInput {
    width: 500px;
    font-size: 19px;
    padding: 10px;
  }
}
