.contact {
  width: 100%;
  padding: 30px 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.darkContact {
  background: #1e1e1e;
  color: white;
}

.emailInputContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between input and button */
  margin: 100px;
}

.emailInput {
  flex: 1; /* Make the input field take most of the space */
  width: 500px;
  padding: 12px;
  font-size: 22px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  background-color: #f8f8f8;
  color: #666;
  transition: border-color 0.3s ease;
}

.darkContact .emailInputContainer .emailInput {
  background: white;
}

.emailInput:focus {
  border-color: orange;
}
