.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.darkHeader {
  background: #1e1e1e;
}

.navbar a,
.navItem {
  position: relative;
  font-size: 22px;
  color: black;
  margin-left: 30px;
  transition: 0.3s;
  cursor: pointer;
}

.darkNavbar a,
.darkNavItem {
  color: white;
}

.navbar a:hover {
  color: #fd6f00;
}

.navbar a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #fd6f00;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}
