.projects {
  padding: 30px 12%;
  text-align: center;
}

.darkProjects {
  background: #1e1e1e;
  color: white;
}

.categoryFilter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 40px 0px;
}

.filterButton {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #f8f8f8;
  cursor: pointer;
  font-size: 22px;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.darkFilterButton {
  background: white;
  border: none;
}

.filterButton.active,
.filterButton:hover {
  background-color: #fd6f00;
  color: white;
}

.projectsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  /* For smartphones in portrait orientation */
  .projects {
    padding: 30px 6%;
    text-align: center;
  }
  .projectsContainer {
    padding: 0;
  }

  .filterButton {
    font-size: 16px;
    padding: 8px 12px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* For small smartphones in landscape orientation and small tablets in portrait orientation */
  .projects {
    padding: 30px 12%;
    text-align: center;
  }
  .projectsContainer {
    padding: 0;
  }

  .filterButton {
    font-size: 16px;
    padding: 8px 12px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  /* For large smartphones and small tablets in landscape orientation and large tablets in portrait orientation */
  .projects {
    padding: 30px 6%;
    text-align: center;
  }
  .projectsContainer {
    padding: 0;
  }

  .filterButton {
    font-size: 19px;
    padding: 10px 15px;
  }
}
