.project-gallery {
  padding: 20px;
  text-align: center;
}

.category-filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-button {
  margin: 40px 0px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  font-size: 22px;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button.active,
.filter-button:hover {
  background-color: #fd6f00;
  color: white;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Makes it scrollable */
  padding: 0 12%; /* Adds 12% padding on left and right */
}
