.projects {
  padding: 20px;
  text-align: center;
}

.darkProjects {
  background: #1e1e1e;
  color: white;
}

.categoryFilter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filterButton {
  margin: 40px 0px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #f8f8f8;
  cursor: pointer;
  font-size: 22px;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.darkFilterButton {
  background: white;
  border: none;
}

.filterButton.active,
.filterButton:hover {
  background-color: #fd6f00;
  color: white;
}

.projectsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Makes it scrollable */
  padding: 0 12%; /* Adds 12% padding on left and right */
}
