.serviceCard {
  width: calc(25% - 15px);
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 45px 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.darkServiceCard {
  background: white;
}

.serviceCard:hover {
  transform: translateY(-5px);
}

.serviceCardLogo {
  margin-bottom: 15px;
}

.serviceCardTitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.serviceCardDescription {
  font-size: 22px;
  color: #555;
  line-height: 1.5;
}

@media (max-width: 480px) {
  /* For smartphones in portrait orientation */
  .serviceCard {
    width: 100%;
    padding: 45px 20px;
  }

  .serviceCardTitle {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
  }

  .serviceCardDescription {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }

  .serviceCardLogo {
    scale: 0.8;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* For small smartphones in landscape orientation and small tablets in portrait orientation */
  .serviceCard {
    width: 100%;
    padding: 45px 20px;
  }

  .serviceCardTitle {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
  }

  .serviceCardDescription {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }

  .serviceCardLogo {
    scale: 0.8;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  /* For large smartphones and small tablets in landscape orientation and large tablets in portrait orientation */
  .serviceCard {
    width: calc(50% - 10px);
    padding: 45px 20px;
  }

  .serviceCardTitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
  }

  .serviceCardDescription {
    font-size: 19px;
    color: #555;
    line-height: 1.5;
  }
}
