.services {
  width: 100%;
  height: 80vh;
  padding: 30px 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.darkServices {
  background: #1e1e1e;
  color: white;
}

.serviceCardsContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.servicesSection {
  margin-top: 40px;
}
