.testimonialCard {
  display: flex;
  background-color: #f8f8f8;
  border-radius: 10px;
  margin: 80px;
  padding: 40px;
  width: 60%;
}

.testimonialCards .active {
  position: relative;
  left: 20%;
}

.prev {
  position: absolute;
  left: calc(-40% - 20px);
  opacity: 0.5;
}

.next {
  position: absolute;
  left: calc(80% + 20px);
  opacity: 0.5;
}

.hidden {
  display: none;
}

.quoteIcon {
  color: #fd6f00;
  font-size: 1.5rem;
}

.testimonialCard img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.commentSection {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.name {
  font-size: 1.5rem;
  font-weight: 500;
}

.designation {
  font-size: 1.3rem;
}
