.titleWithDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
}

.desc {
  width: 70%;
  font-size: 22px;
  margin: 25px 0px;
  text-align: center;
}

@media (max-width: 480px) {
  /* For smartphones in portrait orientation */
  .title {
    font-size: 35px;
    line-height: 35px;
  }

  .desc {
    width: 90%;
    font-size: 16px;
    margin: 25px 0px;
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* For small smartphones in landscape orientation and small tablets in portrait orientation */
  .title {
    font-size: 35px;
    line-height: 35px;
  }

  .desc {
    width: 90%;
    font-size: 16px;
    margin: 25px 0px;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  /* For large smartphones and small tablets in landscape orientation and large tablets in portrait orientation */
  .title {
    font-size: 48px;
    line-height: 48px;
  }

  .desc {
    width: 80%;
    font-size: 19px;
    margin: 25px 0px;
    text-align: center;
  }
}
